* {
    margin: 0;
    padding: 0;
    font-family:cursive;
}

body {
    height: 100vh;
    background-color: #2b807b;
    text-align: center;
}

.central-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedor {
    height: 220px;
    width: 450px;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(26, 26, 26, 0.4),
    0 0 40px rgba(26, 26, 26, 0.4),
    0 0 80px rgba(26, 26, 26, 0.4);
    flex-wrap: wrap;
    flex-direction: column;
}

#color {
    font-size: 60px;
    font-weight: bold;
}

button {
    font-size: 30px;
    color: white;
    border-radius: 20px;
    background-color: #008cba;
    margin: 15px;
    padding: 10px 30px;
    border: 3px solid #008cba;
    user-select: none;
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #05455a;
}